<div class="pure-g">
  <div class="pure-u-1">
    <div class="box">
      <h1><i class="fa fa-cogs"></i> Ajuste de ubicaciones</h1>
      <form class="pure-form">
          <fieldset>
              <label for="place">Lugar:</label>
              <input ng-model="placeName" id="place" type="text" placeholder="Nombre del lugar">
              <input ng-model="capacity" type="number" min="1" value="10" placeholder="Capacidad">
              <button ng-click="addPlace()" class="pure-button pure-button-primary">Agregar <i class="fa fa-plus"></i></button>
          </fieldset>
      </form>
      <ul>
        <li ng-repeat="location in places | filter:searchText">{{location.name}} ({{location.capacity}})
          <a title="Editar" href="javascript:void(0)" class="pure-button button-xsmall button-secondary" ng-click="editLocation(location)"><i class="fa fa-pencil"></i></a>
          <a title="Eliminar" href="javascript:void(0)" class="pure-button button-xsmall button-error" ng-click="deleteLocation(location)"><i class="fa fa-trash"></i></a>
        </li>
      </ul>
    </div>
    <div class="box">
      <h1><i class="fa fa-cogs"></i> Ajuste de horarios</h1>
      <form class="pure-form">
          <fieldset>
            <select>
              <option>Selectione hubicacion</option>
              <option ng-repeat="location in places" value="{{location._id}}">{{location.name}}</option>
            </select>
            <select name="" id="">
              <option value="1">Lunes</option>
              <option value="2">Martes</option>
              <option value="3">Miercoles</option>
              <option value="4">Jueves</option>
              <option value="5">Viernes</option>
              <option value="6">Sabado</option>
              <option value="7">Domingo</option>
            </select>
            <label for="timeFrom">De:</label>
            <input type="time" id="timeFrom" name="input" ng-model="value"
   placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />
            <label for="timeTo">A:</label>
            <input type="time" id="timeTo" name="input" ng-model="value"
   placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />
            <button ng-click="" class="pure-button pure-button-primary">Agregar <i class="fa fa-plus"></i></button>
        </fieldset>
      </form>

    </div>
    <div class="box">
      <h1><i class="fa fa-cogs"></i> Ajuste de precios</h1>
      <form class="pure-form pure-form-aligned">
          <fieldset>
              <div class="pure-control-group">
                  <label for="cost">Precio por clase $</label>
                  <input id="cost" type="number" min="1" placeholder="Precio">
              </div>
              <div class="pure-control-group">
                  <label for="perweek">Clases por semana</label>
                  <input id="perweek" type="number" min="1" placeholder="N&uacute;mero de clases">
              </div>
              <div class="pure-control-group">
                  <label for="permonth">Clases por mes</label>
                  <input id="permonth" type="number" min="1" placeholder="N&uacute;mero de clases">
              </div>
              <div class="pure-controls">
                  <button type="submit" class="pure-button pure-button-primary">Guardar</button>
              </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>
