<div class="pure-g">
  <div class="pure-u-1">
    <div class="box">
      <h1><i class="fa fa-user"></i> Agregar nuevo usuario</h1>
      <form class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
            <label for="name">Nombre</label>
            <input ng-model="customer.name" id="name" type="text" placeholder="Nombre">
          </div>

          <div class="pure-control-group">
            <label for="phone">Telefono</label>
            <input ng-model="customer.phone" id="phone" type="tel" placeholder="Numero de telefono">
          </div>

          <div class="pure-control-group">
            <label for="email">Correo electronico</label>
            <input ng-model="customer.email" id="email" type="email" placeholder="Correo electronico">
          </div>

          <div class="pure-control-group">
            <label for="emName">Contacto en caso de emergencia</label>
            <input ng-model="customer.emName" id="emName" type="text" placeholder="Nombre">
          </div>

          <div class="pure-control-group">
            <label for="emPhone">Telefono de emergencia</label>
            <input ng-model="customer.emPhone" id="emPhone" type="tel" placeholder="Numero de telefono">
          </div>

          <div class="pure-control-group">
            <label for="place">Lugar</label>
            <select ng-model="location" ng-options="place.name for place in places">
              <option value="">Seleccione un lugar</option>
            </select>
          </div>

          <div class="pure-control-group">
            <label for="monthly">Pago mensual</label>
            <input name="pType" id="monthly" type="radio" checked>
          </div>

          <div class="pure-control-group">
            <label for="perClass">Pago por clase</label>
            <input name="pType" id="perClass" type="radio">
          </div>

          <div class="pure-control-group">
            <label for="classNo">Clases por semana</label>
            <select ng-model="classes" id="classNo" ng-options="option.name for option in classNo">
              <option value="" >N&uacute;mero de dias</option>
            </select>
          </div>
          <div class="pure-control-group">
            <label for="classNo">Pago de inscripcion</label>
            <input id="inscription" type="Number" placeholder="$00.00" step="1" min="0">
          </div>
          <schedule></schedule>
          <div class="pure-controls">
            <button ng-model="button" ng-disabled="ready" ng-click="addCustomer()" class="pure-button pure-button-primary">Agregar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
