<div class="pure-g">
  <div class="pure-u-1">
    <div class="box">
      <h1><i class="fa fa-users"></i> Usuarios</h1>
    </div>
    <div class="box">
      <h2>Lista de usuarios</h2>
      <form class="pure-form">
        <fieldset>
          <legend>Filtrar usuarios por nombre</legend>
          <label for="buscar">Buscar</label>
          <input ng-model="searchText" id="buscar" type="text" placeholder="Nombre">
          <a href="#/usuarios/agregar" class="pure-button pure-button-primary">Agregar nuevo usuario <i class="fa fa-plus"></i></a>
        </fieldset>
      </form>
      <ul class="usrList" ng-model="users">
        <li ng-repeat="user in users | filter:searchText">{{user.listNo}} -
          <a title="Ver detalles" href="#/usuarios/{{user._id}}">{{user.name}}</a>
          <a title="Editar" href="#/usuarios/editar/{{user._id}}" class="pure-button button-xsmall button-secondary"><i class="fa fa-pencil"></i></a>
          <a title="Desactvar" href="javascript:void(0)" class="pure-button button-xsmall button-warning" ng-click="disable(user._id)"><i class="fa fa-toggle-on"></i></a>
          <a title="Eliminar" href="javascript:void(0)" class="pure-button button-xsmall button-error" ng-click="delete(user._id, user)"><i class="fa fa-trash"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
