<div class="pure-g">
  <div class="pure-u-1">
    <div class="box">
      <h1><i class="fa fa-clock-o"></i> Horarios</h2>
    </div>
    <div class="box">
      <h1>Colima</h1>
      <table class="pure-table">
          <thead>
              <tr>
                  <th>Horario / Dia</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miercoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                  <th>Sabado</th>
                  <th>Domingo</th>
              </tr>
          </thead>

          <tbody>
              <tr class="pure-table-odd">
                  <td>8:00 - 9:00</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr>
                  <td>10:30 - 11:30</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr class="pure-table-odd">
                  <td>5:00 - 6:00</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr>
                  <td>7:30 - 8:30</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

          </tbody>
      </table>
    </div>
    <div class="box">
      <h1>Villa de alvarez</h1>
      <table class="pure-table">
          <thead>
              <tr>
                  <th>Horario / Dia</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miercoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                  <th>Sabado</th>
                  <th>Domingo</th>
              </tr>
          </thead>

          <tbody>
              <tr class="pure-table-odd">
                  <td>8:00 - 9:00</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr>
                  <td>10:30 - 11:30</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr class="pure-table-odd">
                  <td>5:00 - 6:00</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

              <tr>
                  <td>7:30 - 8:30</td>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>0</td>
                  <td>1</td>
              </tr>

          </tbody>
      </table>
    </div>
  </div>
</div>
